{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'afisha/css/afisha.css' %}">
{% endblock %}

{% block content %}
    <br>
    <br>
    <div id="afisha">

        {% if posters %}
            {% for el in posters %}
                <div class="poster">
                    <br>
                    <div><img class="afisha_photo" src="{{ el.photo.url }}"></div>
                    <br>
                    <h5 class="afisha_date_text">{{ el.date|date:"j E" }} / {{ el.date.hour }}:{{ el.date.minute }} / {{ el.price }}</h5>
                    <h2>{{ el.title }}</h2>
                    <span class="description">{{ el.description }}</span>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <h1>Афишы скоро появятся!</h1>
        {% endif %}


    </div>

{% endblock %}