{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="html">
    <meta name="description" content="Музыкальное кафе 1853">
    <link rel="shortcut icon" href="{% static 'main/img/muzcafe_logo_back.jpg' %}">
    <title>{% block title %}{% endblock %}</title>
    <!-- Атрибут defer обязателен, если скрипт в head (подробнее ниже) -->


    <!-- Подключение шрифта Montserrat из Google Fonts -->
    <link rel="preconnect" href="https://googleapis.com">
    <link rel="preconnect" href="https://gstatic.com" crossorigin>
     <link href="https://googleapis.com" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="{% static 'js/script.js' %}" defer></script>

    {% block extra_css %}{% endblock %}



</head>

<body>

    <div class="header d-block d-md-none">
        <div class="header-left">
            <div class="logo_div">
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'img/logo_wide_simple.png' %}">
                </a>
            </div>
        </div>
    <nav class="header_nav">
        <input id="burger-toggle" type="checkbox">
        <label for="burger-toggle">
            <span></span>
        </label>

         <ul class="header_list">
            <li>
                <a class="header-list-item-link" href="{% url 'afisha' %}"><h6 class="text_menu">АФИША</h6></a>
            </li>
            <li>
                <a class="header-list-item-link" href="{% url 'menu' %}"><h6 class="text_menu">МЕНЮ</h6></a>
            </li>
            <li>
                <a class="header-list-item-link" href="{% url 'about' %}"><h6 class="text_menu">О НАС</h6></a>
            </li>
        </ul>
        </nav>
    </div>

    <div class="header d-none d-md-block">
        <div class="header-left">
            <div class="logo_div">
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'img/logo_wide_simple.png' %}">
                </a>
            </div>
        </div>

        <nav class="header-right">
            <ul role="list" class="header-list">
                <li class="header-list-item" id="first-header-list-item">
                    <a class="header-list-item-link" href="{% url 'afisha' %}"><h6 class="text_menu">АФИША</h6></a>
                </li>
                <li class="header-list-item">
                    <a class="header-list-item-link" href="{% url 'menu' %}"><h6 class="text_menu">МЕНЮ</h6></a>
                </li>
                <li class="header-list-item">
                    <a class="header-list-item-link" href="{% url 'about' %}"><h6 class="text_menu">О НАС</h6></a>
                </li>
            </ul>
        </nav>
    </div>


    {% block content %}
    {% endblock %}



</body>
</html>